<nav>
    <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>

    <a routerLink="/courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Courses</a>

    <a routerLink="/MyProgress" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">My Progress</a>

    <a routerLink="/addCourse" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add your own
        course</a>
    <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About Us</a>

</nav>