<div class="container mt-5">
    <div class="card shadow p-3">
        <h2 class="text-center mb-1">Login</h2>
        <form [formGroup]="credentialsForm" (ngSubmit)="send()">
            <!-- Email Field -->
            <div class="mb-3">
                <input type="email" class="form-control" formControlName="emailControl" placeholder="Enter your email">
                <div class="text-danger mt-1"
                    *ngIf="credentialsForm.controls['emailControl'].errors?.['required'] && credentialsForm.controls['emailControl'].touched">
                    Email is required
                </div>
                <div class="text-danger mt-1"
                    *ngIf="credentialsForm.controls['emailControl'].errors?.['email'] && credentialsForm.controls['emailControl'].touched">
                    Invalid email format
                </div>
            </div>

            <!-- Password Field -->
            <div class="mb-3">
                
                <input type="password" class="form-control" formControlName="passwordControl"
                    placeholder="Enter your password">
                <div class="text-danger mt-1"
                    *ngIf="credentialsForm.controls['passwordControl'].errors?.['required'] && credentialsForm.controls['passwordControl'].touched">
                    Password is required
                </div>
                <div class="text-danger mt-1"
                    *ngIf="credentialsForm.controls['passwordControl'].errors?.['minlength'] && credentialsForm.controls['passwordControl'].touched">
                    Password must be at least 8 characters
                </div>
            </div>

            <!-- Submit Button -->
            <button class="btn btn-primary w-100" [disabled]="credentialsForm.invalid">Login</button>
        </form>
    </div>
</div>