<div *ngIf="lesson" class="container mt-4">
    <div class="card">
        <div  class="card-header">
            <h4>{{ lesson.title }}</h4>
        </div>
        <div class="card-body">
            <div *ngIf="isLessonViewed; else notViewed">
                <div class="alert alert-success">
                    <strong>Viewed!</strong> This lesson has already been completed.
                </div>
            </div>

            <ng-template #notViewed>
                <div class="alert alert-warning">
                    <strong>Not Viewed!</strong> This lesson has not been completed yet.
                </div>
            </ng-template>

            <p><strong>Video:</strong></p>
            <div class="video-container">
                <video controls>
                    <source [src]="lesson.videoUrl" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <div class="button-group">
                    <a routerLink="/MyProgress" class="btn btn-primary">⬅️ Back To My Courses</a>
                    <button class="btn btn-success" (click)="markAsViewed()">Mark as Viewed</button>
                </div>
            </div>
        </div>


    </div>
</div>