<!-- <div class="header-container">
    <h1>Online Learning Platform</h1>

    @if(userStore.user()){
    <span>Hello {{userStore.fullName()}}</span>
    <button (click)="logMeOut()" class="btn btn-primary login-btn">LogOut</button>
    }
    @else {
    <span>Hello Guest</span>
    <button (click)="goLogin()" class="btn btn-primary login-btn">Login</button>
    <button (click)="goRegister()" class="btn btn-outline-light register-btn">Register</button>
    }

</div> -->

<header class="d-flex justify-content-between align-items-center p-3 shadow bg-primary text-white">

    <button class="btn btn-light" (click)="toggleMenu()">
        ☰ Menu
    </button>


    <h2 class="m-0 text-center">Online Learning Platform</h2>


    <div>
        <span *ngIf="userStore.user()">Hello, {{ userStore.fullName() }}</span>
        <span *ngIf="!userStore.user()">Hello, Guest</span>

        <button *ngIf="userStore.user()" (click)="logMeOut()" class="btn btn-outline-light ms-2">LogOut</button>
        <button *ngIf="!userStore.user()" (click)="goLogin()" class="btn btn-light ms-2">Login</button>
        <button *ngIf="!userStore.user()" (click)="goRegister()" class="btn btn-outline-light ms-2">Register</button>
    </div>
</header>